<!DOCTYPE html>
<html>
<head>
    <title>500 - Server Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
</head>
<body>
    <div class="container">
        <h1>500 - Server Error</h1>
        <p>An internal server error occurred. Please try again later.</p>
        <a href="/">Return to Home</a>
    </div>
</body>
    
<footer class="footer">
    <div class="container text-center">
        <p class="text-muted">Tradi &copy; 2025</p>
    </div>
</footer>

</html>